@import "../../styles/variables.scss";

.form__container {
	margin-top: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.input__container {
	text-align: center;
}

.input__item {
	width: 12rem;
	padding: 0.375rem;
	margin-left: 0.5rem;
	font-size: .875rem;
	font-weight: 500;
	text-align: center;
	color: var(--accent-color);
	border: 2px solid var(--table-th-color);
	border-radius: 1.25rem;
	background-color: var(--secondary-text-color);

	&:focus {
		border: 1px solid var(--input-border-color);
		background-color: var(--input-background-color);
	}
}

.form__button {
	width: 5.3125rem;
	height: 2.5rem;
	background-color: var(--accent-color);
	border-radius: .625rem;
	font-size: .8125rem;
	text-align: center;

	&:hover {
		background-color: var(--active-edit-color);
		transition: background-color .2s linear;
	}

	&:active {
		background-color: var(--accent-color);
		transition: background-color .2s linear;
	}

	// Стиль для состояния disabled
	&:disabled {
		background-color: var(--disable-color); // Серый цвет для неактивного состояния
		cursor: not-allowed;
		opacity: 0.3; // Прозрачность для визуального эффекта заблокированной кнопки
	}
}

.button__text {
	color: var(--secondary-text-color);
}

.button__mobile {
	display: none;
}

.error {
	margin-top: 0.5rem;
	color: var(--error-text-color);
	font-size: .75rem;
}

.invalid {
	border: 1px solid var(--error-text-color);

	&:focus {
		border: 1px solid var(--error-text-color);
		background-color: var(--secondary-text-color);
	}
}

@media (max-width: 1300px) {
	.input__item {
		width: 10rem;
	}
}

@media (max-width: 1125px) {
	.input__label {
		font-size: .8125rem;
	}

	.input__item {
		width: 9.5rem;
	}
}

@media (max-width: 1040px) {
	.form__container {
		flex-wrap: wrap;
		margin: 4rem auto 0 auto;
	}

	.input__container {
		width: 13rem;
	}

	.input__label {
		font-size: 1rem;
	}

	.input__item {
		width: 12rem;
		margin: 0.5rem 0 0 0;
	}

	.button__desktop {
		align-self: flex-end;
	}
}

@media (max-width: 970px) {
	.form__container {
		width: 45rem;
		margin: 2rem auto 0 auto;
	}

	.input__container {
		width: 21rem;
	}

	.input__label {
		display: inline-block;
		margin-top: 1.5rem;
	}

	.input__item {
		padding: 0.675rem;
		width: 19rem;
	}

	.button__desktop {
		display: none;
	}

	.button__mobile {
		display: block;
		margin: 2rem auto 0 auto;
	}
}

@media (max-width: 770px) {
	.form__container {
		width: 42rem;
	}
}

@media (max-width: 695px) {
	.form__container {
		width: 37rem;
	}

	.input__container {
		width: 18rem;
	}

	.input__item {
		width: 18rem;
	}
}

@media (max-width: 615px) {
	.form__container {
		width: 34rem;
	}

	.input__container {
		width: 17rem;
	}

	.input__item {
		width: 16rem;
	}
}

@media (max-width: 575px) {
	.form__container {
		width: 32rem;
	}

	.input__container {
		width: 16rem;
	}

	.input__item {
		width: 15rem;
	}
}

@media (max-width: 530px) {
	.form__container {
		margin: 2.5rem auto 0 auto;
		width: 30rem;
		display: flex;
		flex-direction: column;
	}

	.label__mobile {
		margin-top: 0;
	}

	.input__container {
		width: 30rem;
	}

	.input__item {
		width: 30rem;
	}
}

@media (max-width: 495px) {
	.form__container {
		width: 28rem;
	}

	.input__container {
		width: 28rem;
	}

	.input__item {
		width: 28rem;
	}
}

@media (max-width: 460px) {
	.form__container {
		width: 26rem;
	}

	.input__container {
		width: 26rem;
	}

	.input__item {
		width: 26rem;
	}
}

@media (max-width: 436px) {
	.form__container {
		width: 25rem;
	}

	.input__container {
		width: 25rem;
	}

	.input__item {
		width: 25rem;
	}
}

@media (max-width: 418px) {
	.form__container {
		width: 23rem;
	}

	.input__container {
		width: 23rem;
	}

	.input__item {
		width: 23rem;
	}
}

@media (max-width: 396px) {
	.form__container {
		width: 22rem;
	}

	.input__container {
		width: 22rem;
	}

	.input__item {
		width: 22rem;
	}
}

@media (max-width: 377px) {
	.form__container {
		width: 21rem;
	}

	.input__container {
		width: 21rem;
	}

	.input__item {
		width: 21rem;
	}
}

@media (max-width: 347px) {
	.form__container {
		width: 19rem;
	}

	.input__container {
		width: 19rem;
	}

	.input__item {
		width: 19rem;
	}
}

@media (max-width: 321px) {

	.input__label {
		font-size: 0.875rem;
	}
}

@media (max-width: 301px) {
	.form__container {
		width: 16rem;
	}

	.input__container {
		width: 16rem;
	}

	.input__item {
		width: 16rem;
	}
}

@media (max-width: 281px) {
	.form__container {
		width: 15rem;
	}

	.input__container {
		width: 15rem;
	}

	.input__item {
		width: 15rem;
	}
}