//fonts
$mainFont: 'Poppins',
sans-serif;

//colors
$font-color: #242730;
$app-color: #FAFBFE;
$table-color: #F5F4FF;
$edit-button-color: #E2DEFF;
$active-color: #62C3C9;
$disable-color: #959BA5;
$error-color: #B3261E;
$accent-color: #3C21F7;