@import "../../styles/variables.scss";

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 21.25rem;
	height: 21.5rem;
	padding: 2.5rem;
	background-color: var(--card-background-color);
	border-radius: 1.25rem;
	box-shadow: 0 .625rem 3.25rem var(--app-shadow-color);
}

.card__title {
	font-size: 1.625rem;
}

.card__subtitle {
	font-weight: 400;
	font-size: 1.25rem;
}

.card__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9.375rem;
	height: 2.25rem;
	background-color: var(--accent-color);
	border-radius: .625rem;
	outline: none;

	&:hover {
		cursor: pointer;
		background-color: var(--active-edit-color);
		transition: background-color .2s linear;
	}

	&:active {
		background-color: var(--accent-color);
		transition: background-color .2s linear;
	}

	&:focus {
		outline: 2px solid var(--edit-color);
		box-shadow: 0 0 8px 4px var(--card-button-focus-color);
	}
}

.button__text {
	font-size: .875rem;
	font-weight: 500;
	color: var(--secondary-text-color);
}

.card__text {
	font-size: 1.25rem;
	color: var(--success-color);
	margin-bottom: 0.875rem;
}

@media (max-width: 970px) {
	.card__title {
		font-size: 1.5rem;
	}
}


@media (max-width: 770px) {
	.card {
		width: 19.25rem;
		height: 20.5rem;
	}

	.card__title {
		font-size: 1.375rem;
	}

	.card__subtitle {
		font-size: 1.175rem;
	}

	.card__text {
		margin-bottom: 0.675rem;
	}
}

@media (max-width: 575px) {
	.card {
		width: 18.25rem;
	}
}

@media (max-width: 495px) {
	.card {
		width: 17.25rem;
	}
}

@media (max-width: 460px) {
	.card {
		width: 16.25rem;
		height: 19.5rem;
	}

	.card__title {
		font-size: 1.25rem;
	}

	.card__subtitle {
		font-size: 1.175rem;
	}

	.card__text {
		font-size: 1.125rem;
		margin-bottom: .825rem;
	}
}

@media (max-width: 436px) {
	.card {
		width: 15rem;
		height: 18.5rem;
	}

	.card__title {
		font-size: 1.125rem;
	}

	.card__subtitle {
		font-size: 1rem;
	}

	.card__button {
		width: 9rem;
		height: 2.25rem;
	}

	.button__text {
		font-size: 0.8125rem;
	}
}

@media (max-width: 418px) {
	.card {
		width: 14rem;
	}
}

@media (max-width: 396px) {
	.card {
		width: 13rem;
	}
}

@media (max-width: 362px) {
	.card {
		padding: 2rem;
	}
}

@media (max-width: 347px) {
	.card {
		width: 12rem;
		height: 17.5rem;
	}

	.card__button {
		width: 8.5rem;
	}
}

@media (max-width: 331px) {
	.card {
		width: 11rem;
		height: 16.5rem;
	}

	.card__button {
		width: 7rem;
	}

	.card__title {
		font-size: 1rem;
	}

	.card__subtitle {
		font-size: 0.875rem;
	}

	.card__text {
		font-size: .9375rem;
	}
}

@media (max-width: 301px) {
	.card {
		width: 9rem;
		height: 15rem;
		padding: 2rem;
	}

	.card__button {
		width: 6rem;
		height: 2.125rem;
	}

	.button__text {
		font-size: .75rem;
	}
}

@media (max-width: 281px) {
	.card {
		width: 8rem;
		height: 14rem;
		padding: 1.5rem;
	}

	.card__title {
		font-size: .875rem;
	}

	.card__subtitle {
		font-size: .75rem;
	}

	.card__text {
		font-size: .75rem;
	}
}