@import "../../styles/variables.scss";

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 21.25rem;
	height: 21.5rem;
	padding: 2.5rem;
	background-color: var(--card-background-color);
	border-radius: 1.25rem;
	box-shadow: 0 .625rem 3.25rem var(--app-shadow-color);
}

.card__title {
	font-size: 1.625rem;
}

.card__subtitle {
	font-weight: 400;
	font-size: 1.25rem;
}

.card__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9.375rem;
	height: 2.25rem;
	background-color: var(--accent-color);
	border-radius: .625rem;
	outline: none;

	&:hover {
		cursor: pointer;
		background-color: var(--active-edit-color);
		transition: background-color .2s linear;
	}

	&:active {
		background-color: var(--accent-color);
		transition: background-color .2s linear;
	}

	&:focus {
		outline: 2px solid var(--edit-color);
		box-shadow: 0 0 8px 4px var(--card-button-focus-color);
	}
}

.button__text {
	font-size: .875rem;
	font-weight: 500;
	color: var(--secondary-text-color);
}

.card__text {
	font-size: 1.25rem;
	color: var(--success-color);
	margin-bottom: 0.875rem;
}