@import "../../styles/variables.scss";

.title {
	margin-top: 1.875rem;
	text-align: center;
	font-size: 1.875rem;
	font-weight: 700;
}

.subtitle {
	font-size: 1.125rem;
	font-weight: 700;
}

.search__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5rem;
}

.table {
	width: 80rem;
	margin-top: 2.0625rem;
	text-align: center;
	border: .0625rem solid var(--border-table-color);
	border-radius: 1.25rem;
	box-shadow: .625rem .625rem 4rem var(--app-shadow-color);
	overflow: hidden;
}

.table__header {
	background-color: var(--table-color);
}

tr {
	border-bottom: 1px solid var(--border-table-color);
}

th {
	height: 2.8125rem;
	border: .0625rem solid var(--table-th-color);
	border-bottom: .0625rem solid var(--border-table-color);
}

.table__body {
	font-size: .875rem;
	font-weight: 400;
}

td {
	height: 2.5rem;
	border: .0625rem solid var(--table-td-color);
	color: var(--table-text-color);
}

.table__body tr:hover {
	background-color: var(--table-body-hover-color);
	transition: background-color .1s linear;
	cursor: pointer;
}

.table__footer {
	background-color: var(--table-color);

	th {
		border-top: 1px solid var(--border-table-color);
		border-bottom: none;
		border-right: none;
		border-left: none;
	}
}

.footer__text {
	font-size: .875rem;
	color: var(--disable-color);
}

.footer__text_total {
	display: inline-block;
	margin: 0 0.5rem;
}

.table__footer_counter {
	color: var(--accent-color);
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}

.paginationButton {
	cursor: pointer;
	margin: 0.625rem;
	width: 1.75rem;
	height: 1.75rem;
	color: var(--primary-text-color);
	background-color: var(--pagination-background-color);
	border-radius: 1.25rem;

	&:hover {
		color: var(--success-color);
		transition: color .1s linear;
	}

	&:active {
		color: var(--success-color);
		transition: color .1s linear;
	}

}

.paginationButton:disabled {
	color: var(--disable-arrow-color);
	pointer-events: none; // Отключает все события на кнопке
	background-color: var(--disable-background-color);

	&:hover,
	&:active {
		background-color: var(--disable-background-color);
		color: var(--disable-color);
		cursor: not-allowed; // Курсор для отключенной кнопки
		transition: none; // Отключаем анимацию
	}
}

.pageInfo {
	font-size: .875rem;
	margin: 0 .3125rem;
	color: var(--disable-color);
}

.pageInfo_currentPage {
	color: var(--accent-color);
	text-decoration: underline;
}

.filter__button {
	border-radius: .3125rem;
	background-color: var(--table-color);

	&:hover {
		cursor: pointer;
		background-color: var(--edit-color);
		transition: background-color .2s linear;
	}

	&:active {
		background-color: var(--active-edit-color);
		transition: background-color .2s linear;
	}
}

.active {
	background-color: var(--edit-color);
}

.filter__icon {
	height: 1.25rem;
	background-color: none;
}

.footer {
	display: none;
}

.card__container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem 0 0 0;
}

@media (max-width: 1300px) {
	.table {
		width: 75rem;
	}
}

@media (max-width: 1200px) {
	.table {
		width: 72rem;
	}
}

@media (max-width: 1125px) {
	.table {
		width: 66rem;
	}
}

@media (max-width: 1040px) {
	.table {
		width: 62rem;
	}
}

@media (max-width: 970px) {
	.search__container {
		margin-top: 3rem;
	}

	.title {
		margin-top: 3rem;
	}

	.table {
		width: 57rem;
	}
}

@media (max-width: 925px) {
	.table {
		width: 52rem;
	}
}

@media (max-width: 835px) {
	.table {
		width: 47rem;
	}

	.table__footer_text {
		padding-left: 0.375rem;
	}
}

@media (max-width: 770px) {
	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0.5rem 0 1rem 0;
	}

	.footer__text,
	.pageInfo {
		font-size: 1rem;
	}

	.pagination {
		display: flex;
		gap: 0.5rem;
	}

	.total {
		margin-left: 0;
	}

	.pageInfo__cards {
		margin: 0;
	}

	.paginationButton {
		width: 5rem;
		height: 2rem;
	}

	.pagination__prev {
		margin-right: 0.375rem;
	}

	.pagination__next {
		margin-left: 0.375rem;
	}
}

@media (max-width: 418px) {
	.pagination__prev {
		margin-right: .25rem;
	}

	.pagination__next {
		margin-left: .25rem;
	}

	.paginationButton {
		width: 4.5rem;
		height: 2rem;
	}
}

@media (max-width: 396px) {
	.paginationButton {
		width: 4.25rem;
		height: 2rem;
	}
}

@media (max-width: 377px) {
	.title {
		margin-top: 2.375rem;
	}

	.footer__text,
	.pageInfo {
		font-size: .875rem;
	}
}

@media (max-width: 362px) {
	.title {
		font-size: 1.75rem;
	}

	.paginationButton {
		width: 4rem;
		height: 2rem;
	}
}

@media (max-width: 347px) {
	.paginationButton {
		width: 3.5rem;
		height: 2rem;
	}
}

@media (max-width: 331px) {
	.paginationButton {
		width: 3.125rem;
		height: 2rem;
	}

	.pagination__prev {
		margin-right: 0;
	}

	.pagination__next {
		margin-left: 0;
	}
}

@media (max-width: 301px) {
	.subtitle {
		font-size: 1rem;
	}

	.paginationButton {
		width: 2.125rem;
		height: 2rem;
	}

	.pagination__prev {
		margin-right: 0.175rem;
	}

	.pagination__next {
		margin-left: 0.175rem;
	}
}