@import "../../styles/variables.scss";

.title {
	margin-top: 1.875rem;
	text-align: center;
	font-size: 1.875rem;
	font-weight: 700;
}

.subtitle {
	margin-top: 5rem;
	font-size: 1.125rem;
	font-weight: 700;
}

.table {
	width: 80rem;
	margin-top: 2.0625rem;
	text-align: center;
	border: .0625rem solid rgba(60, 33, 247, 0.5);
	border-radius: 1.25rem;
	box-shadow: .625rem .625rem 5rem rgba(63, 39, 102, 0.1);
	overflow: hidden;
}

.table__header {
	background-color: $table-color;
}

tr {
	border-bottom: 1px solid $accent-color;
}

th {
	height: 2.8125rem;
	border: .0625rem solid $edit-color;
	border-bottom: 1px solid #988AFA;
}

.table__body {
	font-size: .875rem;
	font-weight: 400;
}

td {
	height: 2.5rem;
	border: .0625rem solid $edit-color;
}

.table__body tr:hover {
	cursor: pointer;
	background-color: $table-color;
	transition: background-color .1s linear;
}

.table__footer {
	background-color: $table-color;

	th {
		border-top: 1px solid #988AFA;
		border-bottom: none;
		border-right: none;
		border-left: none;
	}
}

.table__footer_text {
	font-size: .875rem;
	color: $disable-color;
}

.table__footer_counter {
	color: $accent-color;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}

.paginationButton {
	cursor: pointer;
	margin: 0 .625rem;
	width: 1.75rem;
	height: 1.75rem;
	color: $font-color;
	background-color: rgba(226, 222, 255, 0.6);
	border-radius: 1.25rem;

	&:hover {
		color: $active-color;
		transition: color .1s linear;
	}

	&:active {
		color: $active-color;
		transition: color .1s linear;
	}

}

.paginationButton:disabled {
	color: $disable-color;
	pointer-events: none; // Отключает все события на кнопке
	background-color: #EAEDF2;

	&:hover,
	&:active {
		background-color: #EAEDF2;
		color: $disable-color;
		cursor: not-allowed; // Курсор для отключенной кнопки
		transition: none; // Отключаем анимацию
	}
}

.pageInfo {
	font-size: .875rem;
	margin: 0 .3125rem;
	color: $disable-color;
}

.pageInfo_currentPage {
	color: $accent-color;
	text-decoration: underline;
}

.error__text {
	margin: 0.5rem auto 0 auto;
	text-align: center;
	color: #FF84A9;
	font-size: 2.1875rem;
}