@import "../../styles/variables.scss";

.title {
	margin-top: 1.875rem;
	text-align: center;
	font-size: 1.875rem;
	font-weight: 700;
}

.subtitle {
	font-size: 1.125rem;
	font-weight: 700;
}

.search__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5rem;
}

.table {
	width: 80rem;
	margin-top: 2.0625rem;
	text-align: center;
	border: .0625rem solid var(--border-table-color);
	border-radius: 1.25rem;
	box-shadow: .625rem .625rem 4rem var(--app-shadow-color);
	overflow: hidden;
}

.table__header {
	background-color: var(--table-color);
}

tr {
	border-bottom: 1px solid var(--border-table-color);
}

th {
	height: 2.8125rem;
	border: .0625rem solid var(--table-th-color);
	border-bottom: .0625rem solid var(--border-table-color);
}

.table__body {
	font-size: .875rem;
	font-weight: 400;
}

td {
	height: 2.5rem;
	border: .0625rem solid var(--table-td-color);
	color: var(--table-text-color);
}

.table__body tr:hover {
	background-color: var(--table-body-hover-color);
	transition: background-color .1s linear;
	cursor: pointer;
}

.table__footer {
	background-color: var(--table-color);

	th {
		border-top: 1px solid var(--border-table-color);
		border-bottom: none;
		border-right: none;
		border-left: none;
	}
}

.table__footer_text {
	font-size: .875rem;
	color: var(--disable-color);
}

.table__footer_counter {
	color: var(--accent-color);
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}

.paginationButton {
	cursor: pointer;
	margin: 0.625rem;
	width: 1.75rem;
	height: 1.75rem;
	color: var(--primary-text-color);
	background-color: var(--pagination-background-color);
	border-radius: 1.25rem;

	&:hover {
		color: var(--success-color);
		transition: color .1s linear;
	}

	&:active {
		color: var(--success-color);
		transition: color .1s linear;
	}

}

.paginationButton:disabled {
	color: var(--disable-arrow-color);
	pointer-events: none; // Отключает все события на кнопке
	background-color: var(--disable-background-color);

	&:hover,
	&:active {
		background-color: var(--disable-background-color);
		color: var(--disable-color);
		cursor: not-allowed; // Курсор для отключенной кнопки
		transition: none; // Отключаем анимацию
	}
}

.pageInfo {
	font-size: .875rem;
	margin: 0 .3125rem;
	color: var(--disable-color);
}

.pageInfo_currentPage {
	color: var(--accent-color);
	text-decoration: underline;
}

.filter__button {
	border-radius: .3125rem;
	background-color: var(--table-color);

	&:hover {
		cursor: pointer;
		background-color: var(--edit-color);
		transition: background-color .2s linear;
	}

	&:active {
		background-color: var(--active-edit-color);
		transition: background-color .2s linear;
	}
}

.active {
	background-color: var(--edit-color);
}

.filter__icon {
	height: 1.25rem;
	background-color: none;
}