@import "../../styles/variables.scss";

.header {
	background-color: #FFFFFF;
	border-bottom: .0625rem solid #CCD2E3;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.75rem;
	font-size: .875rem;
	font-weight: 500;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 11rem;
}

.nav__link {
	position: relative;
	color: $disable-color;

	&:after {
		content: "";
		position: absolute;
		background-color: $accent-color;
		height: .0625rem;
		width: 0;
		left: 0;
		bottom: -1.4375rem;
		transition: 0.3s;
	}

	&:hover {
		color: $accent-color;
		transition: color .3s linear;
	}

	&:hover:after {
		width: 100%;
	}
}

.settings__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 5.9375rem;
}

.settings__icon {
	width: 1.5rem;
	height: 1.5rem;
}

.settings__text {
	color: $disable-color;
}