@import "../../styles/variables.scss";

.header {
	background-color: var(--header-color);
	border-bottom: .0625rem solid var(--border-color);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.75rem;
	font-size: .875rem;
	font-weight: 500;
}

.header__navigation_box {
	display: flex;
	justify-content: space-between;
	width: 29.375rem;
}

.header__navigation_logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 8.5rem;
}

.header__image_box {
	width: 3.25rem;
}

.header__logo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header__logoname_box {
	display: flex;
	flex-direction: column;
	width: 4.6875rem;
}

.header__logoname {
	font-size: .75rem;
	font-weight: 700;
	color: var(--accent-color);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 11rem;
}

.nav__link {
	position: relative;
	color: var(--disable-color);
	cursor: pointer;
	background-color: transparent;

	&:after {
		content: "";
		position: absolute;
		background-color: var(--accent-color);
		height: .0625rem;
		width: 0;
		left: 0;
		bottom: -1.4375rem;
		transition: 0.3s;
	}

	&:hover {
		color: var(--accent-color);
		transition: color .3s linear;
	}

	&:hover:after {
		width: 100%;
	}
}