@import "../../styles/normalize.scss";
@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";
@import "../../styles/main.scss";

.delete__button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 2rem;
	height: 1.75rem;
	background-color: #FFB7CD;
	border-radius: .3125rem;

	&:hover {
		cursor: pointer;
		background-color: #FF84A9;
		transition: background-color .2s linear;
	}

	&:active {
		background-color: #FFB7CD;
		transition: background-color .2s linear;
	}
}


.delete__icon {
	margin: 0 auto;
	width: 1.25rem;
	height: 1.25rem;
}