@import "../../styles/variables.scss";

.search__container {
	width: 15rem;
	padding: 0.375rem 0.875rem;
	display: flex;
	align-items: center;
	border: 2px solid var(--table-th-color);
	border-radius: 1.25rem;
	background-color: var(--secondary-text-color);
}

.input__item {
	background: transparent;
	flex: 1;
	font-size: .875rem;
	font-weight: 500;
	color: var(--accent-color);
	border: none;
	outline: none;

	&::placeholder {
		color: var(--placeholder-color);
	}
}

.search__button {
	background-color: transparent;
	border: none;
}

.search__icon {
	width: 1.5rem;
	height: 1.5rem;
	transition: transform 0.2s linear;
	content: url("../../assets/icons/search/search.svg");

	&:hover {
		transform: scale(1.15);
	}

	&:active {
		transform: scale(1.25);
	}
}

@media (max-width: 396px) {
	.search__container {
		width: 14rem;
	}

	.input__item {
		width: 10rem;
	}
}

@media (max-width: 377px) {
	.search__container {
		width: 13rem;
	}

	.input__item {
		width: 9rem;
	}
}

@media (max-width: 347px) {
	.search__container {
		width: 12rem;
	}

	.input__item {
		width: 8rem;
	}
}

@media (max-width: 331px) {
	.search__container {
		width: 11rem;
	}

	.input__item {
		width: 7rem;
	}

	.search__icon {
		width: 1.375rem;
		height: 1.375rem;
	}
}

@media (max-width: 301px) {
	.search__container {
		width: 10rem;
	}

	.input__item {
		width: 6rem;
		font-size: .75rem;
	}

	.search__icon {
		width: 1.375rem;
		height: 1.375rem;
	}
}

@media (max-width: 281px) {
	.search__container {
		width: 9rem;
	}
}