@import "../../styles/variables.scss";

.section {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	margin-top: 1.875rem;
	text-align: center;
	font-size: 1.875rem;
	font-weight: 700;
}

.subtitle {
	margin-top: 3.75rem;
}

.counter__text {
	font-size: 1.375rem;
	color: var(--disable-color);
}

.message,
.translate__counter {
	color: var(--error-color);
}

.translate__counter {
	margin-left: .1875rem;
}

.active {
	color: var(--success-color);
}

.message {
	text-align: center;
	font-size: 3.125rem;
}

.section__card_container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 34.375rem;
	width: 34.375rem;
	height: 25rem;
	margin: 2rem auto 0 auto;
}

.card {
	position: absolute;
	transition: all 0.5s ease;
	opacity: 0;
	transform: translateX(100%);
}

.activeSlide {
	opacity: 1;
	transform: translateX(0);
	z-index: 1;
}

.lastSlide {
	opacity: 0;
	transform: translateX(-100%);
	z-index: 0;
}

.nextSlide {
	opacity: 0;
	transform: translateX(100%);
	z-index: 0;
}

.prev,
.next {
	position: absolute;
	width: 3.125rem;
	height: 3.125rem;
	background-color: var(--card-arrow-background-color);
	border-radius: 3.125rem;
	border: .0625rem solid var(--card-arrow-border-color);
	font-size: 1.25rem;
	color: var(--card-arrow-color);

	&:hover {
		background-color: var(--card-arrow-hover-background-color);
		color: var(--dark-font-color);
		transition: background-color .2s linear, color .2s linear;
	}

	&:active {
		background-color: var(--card-arrow-hover-active-color);
		color: var(--dark-font-color);
		transition: background-color .1s linear, color .1s linear;
	}

}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.disabled {
	color: var(--disable-arrow-color);
	background-color: var(--disable-background-color);
	pointer-events: none; // Отключает все события на кнопке
	border: .0625rem solid var(--card-arrow-disable-border-color);

	&:hover,
	&:active {
		background-color: var(--edit-color);
		color: var(--disable-background-color);
		cursor: not-allowed; // Курсор для отключенной кнопки
		transition: none; // Отключаем анимацию
	}
}

.counter__container {
	margin-top: 1rem;
}

.counter__card_text {
	font-size: 1.125rem;
	color: var(--disable-color);
}

.notification {
	background-color: var(--notification-background-color);
	border: 1px solid var(--table-th-color);
	padding: 6.25rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	box-shadow: 0 .625rem 6.25rem var(--notification-shadow-color);
	border-radius: 1.25rem;
}

.notification__text {
	font-size: 1.875rem;
	text-align: center;
}

.text__alert {
	margin-bottom: 2rem;
	color: var(--accent-color);
	text-transform: uppercase;
}

.text__complete {
	color: var(--success-color);
}

.closeButton {
	background: none;
	border: none;
	font-size: 1.875rem;
	position: absolute;
	top: 10px;
	right: 15px;
	color: var(--disable-color);
	cursor: pointer;

	&:hover {
		color: var(--error-color);
		transition: color .2s linear;
	}

	&:active {
		color: var(--cancel-button-hover-color);
		transition: color .1s linear;
	}
}

@media (max-width: 970px) {

	.section {
		margin: 0 auto 0.75rem 0;
	}

	.title {
		margin-top: 3rem;
	}

	.subtitle {
		margin-top: 3rem;
	}

	.counter__text {
		font-size: 1.125rem;
	}

	.section__card_container {
		margin: 1rem auto 0 auto;
	}
}

@media (max-width: 770px) {
	.section {
		margin: 0 auto 2.75rem 0;
	}

	.section__card_container {
		max-width: 33.375rem;
		width: 33.375rem;
	}
}

@media (max-width: 575px) {
	.section__card_container {
		max-width: 30.375rem;
		width: 30.375rem;
	}
}

@media (max-width: 530px) {
	.subtitle {
		margin-top: 2.5rem;
	}

	.section__card_container {
		margin: 0.5rem auto 0 auto;
	}

	.counter__container {
		margin-top: 0.5rem;
	}
}


@media (max-width: 495px) {
	.section__card_container {
		max-width: 27.375rem;
		width: 27.375rem;
	}
}

@media (max-width: 460px) {
	.section__card_container {
		max-width: 25.375rem;
		width: 25.375rem;
		height: 24rem;
	}

	.prev,
	.next {
		width: 3rem;
		height: 3rem;
	}
}

@media (max-width: 436px) {
	.section__card_container {
		max-width: 24.375rem;
		width: 24.375rem;
	}
}

@media (max-width: 418px) {
	.section__card_container {
		max-width: 23.375rem;
		width: 23.375rem;
		height: 23rem;
	}
}

@media (max-width: 396px) {
	.section__card_container {
		max-width: 22.375rem;
		width: 22.375rem;
		height: 22rem;
	}
}

@media (max-width: 377px) {
	.section__card_container {
		max-width: 21.375rem;
		width: 21.375rem;
	}
}

@media (max-width: 362px) {
	.section__card_container {
		max-width: 20.375rem;
		width: 20.375rem;
	}

	.prev,
	.next {
		width: 2.875rem;
		height: 2.875rem;
	}
}

@media (max-width: 347px) {
	.section__card_container {
		max-width: 19.375rem;
		width: 19.375rem;
	}

	.counter__card_text {
		font-size: 1rem;
	}
}

@media (max-width: 331px) {
	.section__card_container {
		max-width: 18.375rem;
		width: 18.375rem;
	}

	.prev,
	.next {
		width: 2.675rem;
		height: 2.675rem;
	}
}

@media (max-width: 301px) {
	.section__card_container {
		max-width: 17.375rem;
		width: 17.375rem;
	}
}

@media (max-width: 281px) {
	.section__card_container {
		max-width: 16.375rem;
		width: 16.375rem;
		height: 20rem;
	}
}