@import "../../styles/variables.scss";

.section {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	margin-top: 1.875rem;
	text-align: center;
	font-size: 1.875rem;
	font-weight: 700;
}

.subtitle {
	margin-top: 3.75rem;
}

.counter__text {
	font-size: 1.375rem;
	color: $disable-color;
}

.message,
.translate__counter {
	color: $error-color;
}

.translate__counter {
	margin-left: 0.5rem;
}

.active {
	color: $active-color;
}

.message {
	text-align: center;
	font-size: 3.125rem;
}

.section__card_container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 34.375rem;
	width: 34.375rem;
	height: 25rem;
	margin: 2rem auto 0 auto;
}

.card {
	position: absolute;
	transition: all 0.5s ease;
	opacity: 0;
	transform: translateX(100%);
}

.activeSlide {
	opacity: 1;
	transform: translateX(0);
	z-index: 1;
}

.lastSlide {
	opacity: 0;
	transform: translateX(-100%);
	z-index: 0;
}

.nextSlide {
	opacity: 0;
	transform: translateX(100%);
	z-index: 0;
}

.prev,
.next {
	position: absolute;
	width: 3.125rem;
	height: 3.125rem;
	background-color: rgba(226, 222, 255, 0.6);
	border-radius: 3.125rem;
	border: .0625rem solid $edit-color;
	font-size: 1.25rem;
	color: $font-color;

	&:hover {
		background-color: $edit-color;
		transition: background-color .2s linear;
	}

	&:active {
		background-color: rgba(226, 222, 255, 0.6);
		transition: background-color .2s linear;
	}

}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.disabled {
	color: $disable-color;
	background-color: #EAEDF2;
	pointer-events: none; // Отключает все события на кнопке

	&:hover,
	&:active {
		background-color: $edit-color;
		color: $disable-color;
		cursor: not-allowed; // Курсор для отключенной кнопки
		transition: none; // Отключаем анимацию
	}
}

.counter__container {
	margin-top: 1rem;
}

.counter__card_text {
	font-size: 1.125rem;
	color: $disable-color;
}

.notification {
	background-color: $table-color;
	border: 1px solid $edit-color;
	padding: 6.25rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	box-shadow: 0 .625rem 6.25rem rgba(63, 39, 102, 0.15);
	border-radius: 1.25rem;
}

.notification__text {
	font-size: 1.875rem;
	text-align: center;
}

.text__alert {
	margin-bottom: 2rem;
	color: $accent-color;
	text-transform: uppercase;
}

.text__complete {
	color: $active-color;
}

.closeButton {
	background: none;
	border: none;
	font-size: 1.875rem;
	position: absolute;
	top: 10px;
	right: 15px;
	color: $disable-color;
	cursor: pointer;

	&:hover {
		color: $error-color;
		transition: color .2s linear;
	}

	&:active {
		color: #FFB7CD;
		transition: color .1s linear;
	}
}