@import "/src/styles/normalize.scss";
@import "/src/styles/fonts.scss";
@import "/src/styles/variables.scss";

body {
	padding-top: 2.1875rem;
	font-family: $mainFont;
	font-weight: 700;
	letter-spacing: 0.05rem;
	background-color: var(--body-background-color);
}

.error__text {
	margin: 0.5rem auto 0 auto;
	text-align: center;
	color: var(--error-text-color);
	font-size: 3.75rem;
}

.app {
	max-width: 87.5rem;
	margin: 0 auto;
	height: 45.3125rem;
	color: var(--primary-text-color);
	border-radius: 1.5rem;
	background-color: var(--app-background-color);
	border: .0625rem solid var(--app-border-color);
	box-shadow: 0 .625rem 6.25rem var(--app-shadow-color);
	overflow: hidden;
}

.container {
	max-width: 80.125rem;
	margin: 0 auto;
}

@media (max-width: 1300px) {
	.app {
		max-width: 82.5rem;
	}

	.container {
		max-width: 75.125rem;
	}
}

@media (max-width: 1200px) {
	.app {
		max-width: 77.5rem;
	}

	.container {
		max-width: 72.125rem;
	}
}

@media (max-width: 1125px) {
	.app {
		max-width: 72.5rem;
	}

	.container {
		max-width: 66.125rem;
	}
}

@media (max-width: 1040px) {
	.app {
		max-width: 67.5rem;
	}

	.container {
		max-width: 62.125rem;
	}
}

@media (max-width: 970px) {
	.app {
		max-width: 62.5rem;
		height: 54.313rem
	}

	.container {
		max-width: 57.125rem;
	}
}

@media (max-width: 925px) {
	.app {
		max-width: 57.5rem;
	}

	.container {
		max-width: 52.125rem;
	}
}

@media (max-width: 835px) {
	.app {
		max-width: 52.5rem;
	}

	.container {
		max-width: 47.125rem;
	}
}

@media (max-width: 770px) {
	.app {
		max-width: 47.5rem;
		overflow: scroll;
	}

	.container {
		max-width: 42.125rem;
	}
}

@media (max-width: 695px) {
	.app {
		max-width: 42.5rem;
	}

	.container {
		max-width: 37.125rem;
	}
}

@media (max-width: 615px) {
	.app {
		max-width: 38.5rem;
	}

	.container {
		max-width: 34.125rem;
	}
}

@media (max-width: 575px) {
	body {
		padding-top: 1.375rem;
	}

	.app {
		max-width: 35.5rem;
	}

	.container {
		max-width: 32.125rem;
	}
}

@media (max-width: 530px) {
	.app {
		max-width: 33.5rem;
	}

	.container {
		max-width: 30.125rem;
	}
}

@media (max-width: 495px) {
	.app {
		max-width: 31.5rem;
	}

	.container {
		max-width: 28.125rem;
	}
}

@media (max-width: 460px) {
	.app {
		max-width: 29.5rem;
	}

	.container {
		max-width: 26.125rem;
	}
}

@media (max-width: 436px) {
	.app {
		max-width: 28rem;
	}

	.container {
		max-width: 25rem;
	}
}

@media (max-width: 418px) {
	.app {
		max-width: 26.5rem;
	}

	.container {
		max-width: 24rem;
	}
}

@media (max-width: 396px) {
	.app {
		max-width: 25.5rem;
	}

	.container {
		max-width: 23rem;
	}
}

@media (max-width: 377px) {
	.app {
		max-width: 24.5rem;
	}

	.container {
		max-width: 22rem;
	}
}

@media (max-width: 362px) {
	.app {
		max-width: 23.5rem;
	}

	.container {
		max-width: 21rem;
	}
}

@media (max-width: 347px) {
	.app {
		max-width: 22.5rem;
	}

	.container {
		max-width: 20rem;
	}
}

@media (max-width: 331px) {
	.app {
		max-width: 21.5rem;
	}

	.container {
		max-width: 19rem;
	}
}

@media (max-width: 321px) {
	.app {
		max-width: 20.5rem;
	}
}

@media (max-width: 301px) {
	.app {
		max-width: 19.5rem;
	}

	.container {
		max-width: 17rem;
	}
}

@media (max-width: 281px) {
	.app {
		max-width: 18.5rem;
	}

	.container {
		max-width: 16rem;
	}
}