@import "../../styles/variables.scss";

.table__actions {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 7.5rem;
}

.input__item {
	width: 95%;
	padding: 0.375rem;
	color: var(--accent-color);
	border: 2px solid var(--table-th-color);
	border-radius: .625rem;
	text-align: center;
	background-color: var(--secondary-text-color);

	&:focus {
		border: 1px solid var(--input-border-color);
		background-color: var(--input-background-color);
	}
}

.error {
	color: var(--error-text-color);
	font-size: .875rem;
}

.invalid {
	border: 1px solid var(--error-text-color);

	&:focus {
		border: 1px solid var(--error-text-color);
		background-color: var(--secondary-text-color);
	}
}

.card {
	border: 1px solid var(--border-table-color);
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: var(--table-color);
}

.card__info_title {
	margin: 0.5rem 0;
	font-size: 0.875rem;
	color: var(--table-text-color);
}

.card__info_text {
	color: var(--primary-text-color);
}

.actions {
	display: flex;
	gap: 0.5rem;
	margin-top: 1rem;
}

@media (max-width: 770px) {
	.button__container {
		width: 100%;
		margin-top: 1rem;
	}

	.card__info_title {
		font-weight: 400;
	}

	.card__info_text {
		font-weight: 700;
	}

	.input__item {
		margin-top: 0.375rem;
	}
}

@media (max-width: 301px) {

	.card__info_title,
	.card__info_text {
		font-size: .8125rem;
	}
}