@import "../../styles/variables.scss";

.table__actions {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 7.5rem;
}

.input__item {
	width: 95%;
	padding: 0.375rem;
	border: 2px solid $edit-color;
	border-radius: .625rem;
	text-align: center;

	&:focus {
		border: 1px solid $accent-color;
	}
}

.error {
	color: #FF84A9;
	font-size: .875rem;
}

.invalid {
	border: 1px solid #FF84A9;

	&:focus {
		border: 1px solid #FF84A9;
		background-color: #FFFFFF;
	}
}