@import "../../styles/variables.scss";

.settings {
	position: relative;
}

.settings__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 5.9375rem;

	&:hover {
		cursor: pointer;
	}
}

.settings__icon {
	width: 1.5rem;
	height: 1.5rem;
}

.settings__text {
	color: var(--disable-color);
}

.menu {
	position: absolute;
	top: 2.5rem;
	right: 0;
	z-index: 1000;
	background-color: var(--app-background-color);
	padding: 0.75rem;
	border: 1px solid var(--border-table-color);
	border-radius: 0.5rem;
}

.menu__button {
	margin-bottom: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	color: var(--secondary-text-color);
	background-color: var(--accent-color);
	border: none;
	border-radius: 0.375rem;
	text-align: center;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		color: var(--secondary-text-color);
		background-color: var(--active-edit-color);
		transition: background-color .2s linear, color .2s linear;
	}

	&:active {
		background-color: var(--accent-color);
		transition: background-color .2s linear;
	}
}

.menu__text {
	font-size: .6875rem;
}

@media (max-width: 575px) {
	.settings__text {
		display: none;
	}

	.settings__container {
		justify-content: flex-end;
	}
}

@media (max-width: 495px) {
	.settings__container {
		max-width: 4.9375rem;
	}

	.menu {
		padding: 0.5rem;
	}

	.menu__button {
		margin-bottom: 0.375rem;
	}
}

@media (max-width: 460px) {
	.settings__container {
		max-width: 3.875rem;
	}
}

@media (max-width: 396px) {
	.settings__container {
		max-width: 1.875rem;
	}

	.menu {
		padding: .3125rem;
	}

	.menu__button {
		padding: 0.5rem 0.75rem;
	}
}

@media (max-width: 347px) {
	.menu__button {
		padding: 0.375rem 0.675rem;
	}
}

@media (max-width: 331px) {
	.settings__container {
		max-width: 1.5rem;
	}
}